.videoContainer {
    position: relative;
    position: absolute;
    inset: 0rem 0rem;

    width: 100%;
    height: 100vh;

    overflow: hidden;

    z-index: -1;

    video {
        position: absolute;
        inset: -4% 0;

        width: 100%;
        height: 118%;
    }

    .muteBtn {
        position: absolute;
        inset: 15% 2.5vw;

        width: 3rem;
        height: 3rem;

        background: transparent;
        outline: none;
        border: none;

        cursor: pointer;

        z-index: 10;
    }
}